/* GENERAL */
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(img/bodybg.jpg);
  background-size: cover;
  background-position: center;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  color: white;
  text-decoration: none;
}
* h1 {
  font-family: "Tangerine", cursive;
  font-weight: bold;
  font-size: 2.5rem;
}
* h2 {
  font-size: 1.2rem;
}
* a {
  font-size: 0.8rem;
}
.noscroll {
  overflow: hidden;
}

.cont {
  padding-inline: 150px;
}

/* HERO */
.hero,
.content {
  margin: auto;
  position: relative;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  background-image: url(img/hero.jpg);
  height: 100vh;
}
.hero .main {
  text-align: center;
}
.main h1 {
  font-size: 4rem;
  margin-bottom: 0.2em;
}
.main p {
  margin-bottom: 1em;
}
.main a {
  background-color: #d47f81;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: calc(50% - 58px);
  bottom: 10vh;
  color: white;
  text-decoration: none;
}

/* MUKODIMAH */
.mukodimah {
  background-image: url(img/background2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.mukodimah h2 {
  font-size: 2rem;
}

/* CONTENT */
.content {
  background-image: url(img/background.jpg);
  flex-direction: column;
}
.opening {
  margin-top: 100px;
  text-align: center;
}
.opening h2 {
  margin-bottom: 1em;
  letter-spacing: 2px;
}
.opening p {
  font-size: 0.9rem;
  margin-bottom: 3em;
}
.opening .kel {
  margin-bottom: 0;
}
.opening .dan {
  font-size: 5rem;
  margin: 0.3em 0;
}

/* IMAGE UTAMA */
.wed-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}
.wed-img img {
  width: 20%;
  border-radius: 5px;
}
.wed-img i {
  margin: 0 20px;
}

/* DATE */
.date {
  margin-top: 150px;
  text-align: center;
}
.date h2 {
  margin-bottom: 1em;
}
.date .open {
  margin-bottom: 2.5em;
}
table {
  border-collapse: collapse;
  margin: 0 auto 1em;
}
table tr td {
  font-size: 1.2rem;
}
table .hari {
  letter-spacing: 3px;
  padding-left: 15px;
}
table .tanggal {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 10px;
  letter-spacing: 0.2em;
}
table .tanggal span {
  display: block;
  margin-top: -5px;
  font-weight: lighter;
  letter-spacing: 0;
  padding-right: 5px;
}
table .hari,
table .bulan {
  padding-bottom: 15px;
}
.date p {
  font-size: 1rem;
  margin-bottom: 1.2em;
}
.date a {
  background-color: #d47f81;
  padding: 7px 10px;
  border-radius: 5px;
}

/* CONGRATULATION */
.congrats {
  margin-top: 70px;
  width: 90%;
  padding: 20px 10%;
  background-color: #bc998b;
  text-align: center;
  border-radius: 10px;
}
.congrats .my-alert {
  background-color: rgba(120, 230, 191, 0.7);
  justify-content: space-around;
  align-items: center;
  height: 30px;
  margin-top: 2em;
  line-height: 30px;
  display: none;
}
.congrats .d-flex {
  display: flex;
}
.congrats .my-alert button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.column {
  text-align: start;
  margin: 0.6em 0;
}
.column label {
  margin: 0;
}
.column input {
  width: 100%;
  height: 28px;
  color: black;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #fff;
}
.column textarea {
  width: 100%;
  height: 100px;
  color: black;
  border-radius: 5px;
  border: 1px solid #fff;
}
.column .btn-kirim {
  background-color: #d47f81;
  border: none;
  padding: 7px 0;
  width: 100%;
  font-size: 0.8rem;
}
.column .btn-load {
  background-color: #964547;
  border: none;
  padding: 7px 0;
  width: 100%;
}
.d-none {
  display: none;
}

/* GIFT */
.gift {
  margin-top: 150px;
  width: 90%;
  padding: 20px 10% 40px;
  background-color: #bc998b;
  text-align: center;
  border-radius: 10px;
}
.gift > p {
  margin-top: 1em;
  font-size: 0.8rem;
  margin-bottom: 1em;
}
.bank {
  margin-top: 2em;
  width: 100%;
  color: black;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 0.8em;
}
.bank .blogo {
  text-align: end;
}
.bank .blogo img {
  width: 50%;
}
.copyTextContainer {
  text-align: start;
}
.copyTextContainer p,
.copyTextContainer span {
  color: black;
}
.copyTextContainer .copy {
  margin-left: 10px;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

/* CONTACT */
.contact {
  margin-top: 70px;
  margin-bottom: 100px;
  width: 90%;
  padding: 20px 10% 40px;
  background-color: #bc998b;
  text-align: center;
  border-radius: 10px;
}
.insta {
  margin-top: 1em;
  width: 100%;
  height: 40px;
  color: black;
  border-radius: 3px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.insta img {
  height: 50%;
}
.insta span {
  color: black;
  margin-left: 10px;
}

/* FOOTER */
footer {
  max-width: 100wv;
  background-color: #bc998b;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  margin: 0 auto;
}
footer a {
  font-size: 0.8rem;
  font-weight: bold;
}

/* MUSIC */
.audio-icon-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  animation: rotate 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-icon-wrapper i {
  font-size: 3.5rem;
}

/* COVER */
.cover {
  width: 100vw;
  height: 100vh;
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}
.cover h4 {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.3em;
  font-weight: 500;
}
.cover button {
  margin-top: 50px;
  background-color: #d47f81;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* GALLERY */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SLIDER */
.slider-container {
  position: relative;
  width: 90%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 350%; /* 4 gambar x 100% */
  transition: transform 0.5s ease;
  justify-content: space-evenly;
}

.slide {
  /* justify-content: space-evenly; */
  display: flex;
  padding: 1%;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.slider-controls img {
  width: 20px;
  border: none;
  cursor: pointer;
  filter: brightness(100);
  mix-blend-mode: difference;
}
.slider-controls button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.slide img {
  width: 100%;
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(350deg);
  }
}

/* RESVOSIVE BREAKPOINT */
@media (min-width: 800px) {
  * {
    font-size: 20px;
  }
  * h1 {
    font-size: 3rem;
  }
  .main h1 {
    font-size: 4rem;
    margin-bottom: 0.2em;
  }
  .cont {
    padding-inline: 20vw;
  }
  .opening,
  .date {
    max-width: 700px;
  }
  .congrats,
  .contact,
  .gift {
    max-width: 600px;
  }
  .column input {
    height: 40px;
  }
  .column textarea {
    height: 200px;
  }
  .congrats .my-alert {
    height: 40px;
    line-height: 40px;
  }
  table .hari {
    padding-left: 25px;
  }
  .insta {
    height: 50px;
  }
  .slid-1 {
    margin-left: 6vw;
  }
  .slider-container {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 18px;
  }
  .cont {
    padding-inline: 15vmin;
  }
  table .hari {
    padding-left: 20px;
  }
  .slid-1 {
    margin-left: 11vw;
  }
}

@media (max-width: 500px) {
  * {
    font-size: 12px;
  }
  .hero,
  .content {
    width: 100vw;
  }
  .cont {
    padding-inline: 5vw;
  }
  .slid-1 {
    margin-left: 13vw;
  }
  .main a {
    bottom: 15vh;
    left: calc(50% - 50px);
  }
}

@media (max-width: 360px) {
  * {
    font-size: 12px;
  }

  .main h1 {
    font-size: 3rem;
  }
  table .hari,
  table .bulan {
    padding-bottom: 5px;
  }
}
